{# src/OC/PlatformBundle/Ressources/views/Advert/bye.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<title>Au revoir !</title>
	</head>
	<body>
		<h1>Je te salue {{ nom }}</h1>
		<p>
			Voila c'est fini :'(
		</p>
	</body>
</html>